[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = {extras = ["asyncmy"], version = "*"}
python-dotenv = "*"
aerich = "*"
mongoengine = "*"
anyio = {extras = ["trio"], version = "*"}
pytest = "*"
mongomock = "*"
gunicorn = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}
tortoise-cli = "*"

[requires]
python_version = "3.9"
