<div style="max-width:480px;margin:0 auto;padding:24px 12px 12px;border:none;background:#ffffff">

<div style="margin:0;padding:24px 0 8px 0;text-align:center;border:none;font-size:16px;line-height:1.5;font-weight:700">
  국내 최대 비즈니스 네트워크,<br>
  로켓 어퍼컷에 오신 것을 환영합니다.<br>
</div>

<div style="margin:0;padding:0 0 8px 0;text-align:center;border:none;font-size:14px;line-height:1.5">
  {name} 님의 비즈니스 프로필을 업데이트하고 더 많은 프로와 연결해 보세요.
</div>

<div style="margin:20px 0;padding:0;text-align:center;border:none;font-size:14px;line-height:1.5">
  <img src="https://ci5.googleusercontent.com/proxy/CfVIXAppvbrAmGvfe-voEq5yo6jaS30_19x8oB0kz7KzvMwNxpcjBi_HUf3vsZ7rZ1lqh5mhVQ9mwsLK4OB1XEJmi1KSXyX-LO1so0zUtwTM=s0-d-e1-ft#https://static.rocketpunch.com/images/email/welcome/header.png" style="width:240px" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 287px; top: 376px;"><div id=":ax" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="다운로드" role="button" tabindex="0" aria-label="첨부파일() 다운로드" jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB" data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
</div>

<div style="margin:0;padding:0 0 36px;border:none;font-size:14px;line-height:1.5">
  <div style="width:100%;margin:0;padding:0 0 10px;border:none;text-align:center"><a href="{profile_url}" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/yaIsbrYvp9mv6dpz199WjSS4WHckk-zJEt7D4AvkawzQeaHXAyjaCLeHSkI_opb_wapjBmgnT44E0tB0P3kmAfrxFaVzgk3coZzMcOcDn9P30e7ldA=s0-d-e1-ft#https://static.rocketpunch.com/images/email/welcome/add-people.png" style="width:86px" class="CToWUd" data-bit="iit"></a></div>
  <div style="width:100%;margin:0;padding:0 0 8px;border:none;font-size:14px;line-height:1.5;color:#28323c;text-align:center;font-weight:700">
    내 프로필 등록
  </div>
  <div style="width:100%;margin:0;padding:0 0 8px;border:none;font-size:14px;line-height:1.5;color:#28323c;text-align:center">
    프로필을 상세하게 입력할수록 더 많은 프로들을 만날 수 있습니다.
  </div>
</div>

<div style="margin:0;padding:0 0 36px;border:none;font-size:14px;line-height:1.5">
  <div style="width:100%;margin:0;padding:0 0 10px;border:none;text-align:center"><a href="{company_url}" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/wkQbqdDDqe-VCdNX8zDmOISx4EQ55OF0x7ymRzf5UA34ofOaUw18bkhbLLtI5nLvTrzMwQSQN7CHRrqFw88j3Fmy2dAYVvO7yFxgqqXNxkDstPLytYE=s0-d-e1-ft#https://static.rocketpunch.com/images/email/welcome/add-company.png" style="width:86px" class="CToWUd" data-bit="iit"></a></div>
  <div style="width:100%;margin:0;padding:0 0 8px;border:none;font-size:14px;line-height:1.5;color:#28323c;text-align:center;font-weight:700">
    기업 정보 등록
  </div>
  <div style="width:100%;margin:0;padding:0 0 8px;border:none;font-size:14px;line-height:1.5;color:#28323c;text-align:center">
    기업 정보를 등록하고 관리하며 기업 팔로워들에게 소식을 전하세요.
  </div>
</div>

<div style="margin:0;padding:0 0 36px;border:none;font-size:14px;line-height:1.5">
  <div style="width:100%;margin:0;padding:0 0 10px;border:none;text-align:center"><a href="{recruit_url}" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/eBzS-TT5E_xlkyEthMZpghjKeReGNF0lezT8vKbmnLwlT_q6mdXzIptOgZRKpOfzFoYqUDGHYIcm8ze4tEMx2tAuz0HhIkicNDkat-A1PoooGA=s0-d-e1-ft#https://static.rocketpunch.com/images/email/welcome/add-job.png" style="width:86px" class="CToWUd" data-bit="iit"></a></div>
  <div style="width:100%;margin:0;padding:0 0 8px;border:none;font-size:14px;line-height:1.5;color:#28323c;text-align:center;font-weight:700">
    채용 정보 등록
  </div>
  <div style="width:100%;margin:0;padding:0 0 8px;border:none;font-size:14px;line-height:1.5;color:#28323c;text-align:center">
    무료로 채용 정보를 등록하고 함께 일할 동료를 찾을 수 있습니다.
  </div>
</div>
</div>